<!-- pagination.component.html -->
<nav>
  <ul class="pagination">
    <li style="cursor: pointer" class="page-item" [ngClass]="{disabled: currentPage === 1}">
      <a class="page-link" (click)="pageClicked(currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pages" class="page-item" [ngClass]="{'active': page === currentPage}">
      <a class="page-link" href="javascript:void(0)" (click)="pageClicked(page)">{{ page }}</a>
    </li>
    <li style="cursor: pointer" class="page-item" [ngClass]="{disabled: currentPage === totalPages}">
      <a class="page-link" (click)="pageClicked(currentPage + 1)">Next</a>
    </li>
  </ul>
</nav>
