<div class="contanier">
  <div class="row">
    <div class="col-sm-2">
      <a [routerLink]="['/main-page']">Ana Sayfa</a>
    </div>
    <div class="col-sm-2">
      Ara
    </div>
    <div class="col-sm-2">
      Post Ekle
    </div>
    <div class="col-sm-2">
      <a [routerLink]="['/profile']">Profil</a>
    </div>
    <div class="col-sm-2">
      <a [routerLink]="['/admin']">Admin</a>
    </div>
    <div class="col-sm-2">
      <a [routerLink]="['/auth']">Giriş Yap</a>
    </div>
  </div>
</div>