<div class="container">
  <div class="row">
    <div class="col-sm-1">
      <a [routerLink]="['/main-page']">Ana Sayfa</a>
    </div>
    <div class="col-sm-1">
      Ara
    </div>
    <div class="col-sm-2">
      <a [routerLink]="['/app-share']">Post Ekle</a>
    </div>
    <div class="col-sm-2">
      <a [routerLink]="['/profile']">Profil</a>
    </div>
    <div class="col-sm-2">
      <a [routerLink]="['/admin']">Admin</a>
    </div>
    <div class="col-sm-2">
      <a [routerLink]="['/auth']">Giriş Yap</a>
    </div>
    <div class="col-sm-2">
      <button (click)="logout()">Çıkış Yap</button>
    </div>
  </div>
</div>
