<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th *ngFor="let head of headers">
              {{head}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dt of data">
            <td>
              {{dt.id}}
            </td>
            <td>
              {{dt.name}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>