<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-hover">

        <thead>
          <tr>
            <td [attr.colspan]="headers.length + 1">
              <div class="btn-group m-2">
                <div *ngFor="let button of headerButtons">
                  <button (click)="button.action()" style="margin-left: 2px;" [class]="button.styleCss">
                    <i [class]="button.icon"></i>
                    {{button.text}}</button>
                </div>
              </div>

            </td>
          </tr>
          <tr>
            <th *ngFor="let header of headers">{{ header }}</th>
            <th> * </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pageResult.data">
            <td *ngFor="let col of columns">{{ item[col.key] }}</td>
            <td>
              <div class="btn-group m-2">
                <div *ngFor="let button of tdButtons">
                  <button (click)="button.action(item.id)" style="margin-left: 2px;" [class]="button.styleCss">
                    <i [class]="button.icon"></i>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <tfoot>
        <div>
          <button (click)="perPageChange(5)" style="margin-left: 2px;" class="btn">
            5
          </button>
          <button (click)="perPageChange(10)" style="margin-left: 2px;" class="btn">
            10
          </button>
          <button (click)="perPageChange(20)" style="margin-left: 2px;" class="btn">
            20
          </button>
          <button (click)="pageCounter('-')" style="margin-left: 2px;" class="btn">
            <i class="fa fa-arrow-left"></i>
          </button>
          <button (click)="pageCounter('+')" style="margin-left: 2px;" class="btn">
            <i class="fa fa-arrow-right"></i>
          </button>
          Page: {{page}} - Count : {{pageResult.count}} - Total Count : {{pageResult.totalCount}}
        </div>

        <div>

        </div>
      </tfoot>
    </div>
  </div>
</div>