<div class="form">
  <div class="form-group">
    <label>Id</label>
    <input class="form-control" [(ngModel)]="data.id" placeholder="Lütfen id giriniz">
  </div>
  <div class="form-group">
    <label>İsim</label>
    <input class="form-control" [(ngModel)]="data.name" placeholder="Lütfen isim giriniz">
  </div>
  <div class="form-group">
    <label>Kod</label>
    <input class="form-control" [(ngModel)]="data.code" placeholder="Lütfen kod giriniz">
  </div>
  <div class="form-group">
    <label>Açıklama</label>
    <input class="form-control" [(ngModel)]="data.description" placeholder="Lütfen açıklama giriniz">
  </div>
  <div class="form-group">
    <button class="btn btn-success" (click)="updateData()">Ekle</button>
  </div>
</div>
