<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Paylaşım Ekle</div>
        <div class="card-body">
          <div class="form-group">
             <label for="animal">Hayvan Seçin</label>
           <select id="animal" class="form-control" [(ngModel)]="shareData.animalId" name="animal">
              <option *ngFor="let animal of animalsByUser" [value]="animal.id">{{ animal.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="imageUrl">Resim URL</label>
            <input id="imageUrl" class="form-control" [(ngModel)]="shareData.imageUrl" name="imageUrl" placeholder="Resim URL giriniz">
          </div>
          <div class="form-group">
            <label for="description">Açıklama</label>
            <textarea id="description" class="form-control" [(ngModel)]="shareData.description" name="description" placeholder="Açıklama giriniz"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-success" (click)="addShare()">Gönder</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
